<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>ZenithZephyr | Your stories</title>
  </head>
  <body class="bg-secondary">
    <%- include('./partials/preloader') %> <%- include('./partials/nav') %> <%=
    JSON.stringify(user) %> <%-include('./partials/script') %>
  </body>
</html>
