<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
    <title>Signup | ZenithZephyr</title>
  </head>
  <body class="bg-secondary">
    <%- include('./partials/preloader') %> <%- include('./partials/nav') %>
    <div class="container mt-5">
      <form action="/user/signup" method="post">
        <% if (locals.err) { %>
        <!--locals if that object exists-->
        <div id="errorMessage" class="mb-3 bg-danger p-2 rounded-2"></div>
        <%= err %> <% } %>
        <script>
          setTimeout(() => {
            document.querySelector("#errorMessage").style.display = "none";
          }, 1500);
        </script>
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input
            name="fullName"
            type="text"
            class="form-control"
            id="fullName"
            aria-describedby="fullName"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3 form-check">
          <input
            name="accept"
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
          />
          <label class="form-check-label" for="exampleCheck1"
            >Accept the terms and conditions</label
          >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%-include('./partials/script') %>
  </body>
</html>
